@import url("https://fonts.googleapis.com/css2?family=Lexend+Mega&family=Roboto+Mono&family=Raleway&display=swap");

*::selection {
  background-color: #b3d4fc;
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: Raleway, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.main-container {
  min-height: 100vh; /* will cover the 100% of viewport */
  overflow: hidden;
  display: block;
  position: relative;
  padding-bottom: 100px; /* height of your footer */
}

.container {
  width: 80%;
  margin: auto;
}
